<a href="https://colab.research.google.com/github/shashankv05/Colab_Notebooks/blob/main/Spark_Basics_Revised.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Spark is an engine for parallel processing of data on a cluster.**
  *  In Apache Spark, parallelism allows developers to perform tasks on hundreds of machines in a cluster in parallel and independently. 
  * **All thanks to the basic concept in Apache Spark — RDD.**

Under the hood, these **RDDs are stored in partitions on different cluster nodes. Partition basically is a logical chunk of a large distributed data set.**
**It provides the possibility to distribute the work across the cluster, divide the task into smaller parts, and reduce memory requirements for each node**. Partition is the main unit of parallelism in Apache Spark.

#### **Spark Vs Map Reduce**

  * Let's say we have n number of jobs, then in Map Reduce Read/Write Operation will be performed n-times, 

  Spark can do it in-memory, while Hadoop MapReduce has to read from and write to a disk.
       Spark may be up to 100 times faster
 
  * Spark offers inbuilt **SQL, MLLIB, GraphX libraries**

  * Spark supports Real Time processing while Map Reduce cannot handle Real Time, Map Reduce Batch Processing

  * **DAG(Directed Acyclic Graph) for Scheduling jobs**

**RDD -- Resilient Distributed Dataset**
  * Resilient because RDDs are immutable(can’t be modified once created) and fault tolerant
  * Distributed because it is distributed across cluster and Dataset because it holds data.
  * are fault tolerant as they track data lineage information to rebuild lost   data automatically on failure 

**Lineage Graph**
* The need for an RDD lineage graph happens when we want to compute new RDD or if we want to recover the lost data from the lost persisted RDD.

**Partition — a logical chunk of a large data set.**

Read here: https://luminousmen.com/post/spark-partitions

Logical versus Physical Address Space : https://www.massey.ac.nz/~mjjohnso/notes/59305/mod8.html

Spark Streaming : https://www.analyticsvidhya.com/blog/2020/11/introduction-to-spark-streaming-add-new-tag/

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=67fbf7703121290886aaef6610ad8e544067b3b6474db696d08fbc606d422265
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master('local')\
        .appName('MySpark')\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
spark

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = spark.read.csv('/content/gdrive/My Drive/Shashank Python/Projects/DataSet/Black_Friday_Sales_Data/train_csv/train.csv', header = True, inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)

In [ ]:
df.count()

550068

In [ ]:
df.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.dtypes

[('User_ID', 'int'),
 ('Product_ID', 'string'),
 ('Gender', 'string'),
 ('Age', 'string'),
 ('Occupation', 'int'),
 ('City_Category', 'string'),
 ('Stay_In_Current_City_Years', 'string'),
 ('Marital_Status', 'int'),
 ('Product_Category_1', 'int'),
 ('Product_Category_2', 'int'),
 ('Product_Category_3', 'int'),
 ('Purchase', 'int')]

In [ ]:
df.describe().show()

+-------+------------------+----------+------+------+------------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|summary|           User_ID|Product_ID|Gender|   Age|        Occupation|City_Category|Stay_In_Current_City_Years|     Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|         Purchase|
+-------+------------------+----------+------+------+------------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|  count|            550068|    550068|550068|550068|            550068|       550068|                    550068|             550068|            550068|            376430|            166821|           550068|
|   mean|1003028.8424013031|      null|  null|  null| 8.076706879876669|         null|         1.468494139793958|0.40965298835780306| 5.404270017525106| 9.842329251122386|12.668243206790512|9263.968712959126|
| stddev| 1727.591585530871|      null|  null|  null|6.5226604873418115|         null|         0.989086680757309| 0.4917701263173259| 3.936211369201324| 5.086589648693526| 4.125337631575267|5023.065393820593|
|    min|           1000001| P00000142|     F|  0-17|                 0|            A|                         0|                  0|                 1|                 2|                 3|               12|
|    max|           1006040|  P0099942|     M|   55+|                20|            C|                        4+|                  1|                20|                18|                18|            23961|
+-------+------------------+----------+------+------+------------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+

In [ ]:
df.select('User_ID', 'Gender', 'Age', 'Occupation').show(5)

+-------+------+----+----------+
|User_ID|Gender| Age|Occupation|
+-------+------+----+----------+
|1000001|     F|0-17|        10|
|1000001|     F|0-17|        10|
|1000001|     F|0-17|        10|
|1000001|     F|0-17|        10|
|1000002|     M| 55+|        16|
+-------+------+----+----------+
only showing top 5 rows

**Dropping Columns**

In [ ]:
df.drop('City_Category').show(5)

+-------+----------+------+----+----------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

**Renaming Columns**

In [ ]:
df.withColumnRenamed('Purchase', 'Purchase_Renamed').show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+----------------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase_Renamed|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+----------------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|            8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|           15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|            1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|            1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|            7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+----------------+
only showing top 5 rows

#### Handling null Values

In [ ]:
df.count()

550068

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df.select([count(when(isnull(column), column)).alias(column) for column in df.columns]).show()

+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|      0|         0|     0|  0|         0|            0|                         0|             0|                 0|            173638|            383247|       0|
+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+

In [ ]:
# df.filter(df.Product_Category_3.isNull()).count()
df.filter(df.Product_Category_3.isNotNull()).count()
# df.filter(df.Product_Category_3.isNotNull()).show()

166821

In [ ]:
df.dropna().show(5)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.dropna().count()

166821

In [ ]:
df = df.fillna({'Product_Category_2': 0, 'Product_Category_3':0})

In [ ]:
df.select([count(when(isnull(column), column)).alias(column) for column in df.columns]).show()

+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|      0|         0|     0|  0|         0|            0|                         0|             0|                 0|                 0|                 0|       0|
+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+

In [ ]:
df.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                 0|                 0|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                 0|                 0|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|                 0|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                 0|                 0|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.dropna().count()               # Returns Dataframe Removing Nan Values

550068

In [ ]:
df = spark.read.csv('/content/gdrive/My Drive/Shashank Python/Projects/DataSet/Black_Friday_Sales_Data/train_csv/train.csv', header = True, inferSchema=True)

In [ ]:
df.dropna(how = 'any').show(5)   # any is by Default

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
len(df.columns)

12

In [ ]:
df.dropna(how = 'all', thresh=7).show(5)    #This indicates that a row should be dropped if it has less than 7 non-null values.

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.dropna(how = 'all', thresh=11).count()

376430

In [ ]:
df.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.dropna(how='any', subset='Product_Category_2').show(5)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|              null|   15854|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.dropna(how='any', subset='Product_Category_2').count()   # 550068 - 173638 = 376430

376430

In [ ]:
df.dropna(how='any', subset=['Product_Category_2', 'Product_Category_3']).show(5)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.filter(df.Product_Category_3.isNull()).count()

383247

In [ ]:
df.dropna(how='any', subset=['Product_Category_2', 'Product_Category_3']).count()   # 550068 - 383247 = 166821

166821

In [ ]:
df.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.fillna(0).show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                 0|                 0|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                 0|                 0|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|                 0|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                 0|                 0|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.fillna(0, subset = 'Product_Category_2').show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                 0|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                 0|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                 0|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.fillna(0, subset = ['Product_Category_2', 'Product_Category_3']).show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                 0|                 0|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                 0|                 0|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|                 0|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                 0|                 0|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

####**Handling Missing Values Using Imputer**

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
imputer = Imputer()

In [ ]:
imputer.setInputCols(['Product_Category_2', 'Product_Category_3'])
imputer.setOutputCols(['Product_Category_2_out', 'Product_Category_3_out'])

Imputer_6e495512fb91

In [ ]:
model = imputer.fit(df)

In [ ]:
model.setInputCols(['Product_Category_2', 'Product_Category_3'])

ImputerModel: uid=Imputer_6e495512fb91, strategy=mean, missingValue=NaN, numInputCols=2, numOutputCols=2

In [ ]:
model.getStrategy()

'mean'

In [ ]:
model.transform(df).show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------------+----------------------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|Product_Category_2_out|Product_Category_3_out|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------------+----------------------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|                     9|                    12|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|                     6|                    14|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|                     9|                    12|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|                    14|                    12|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|                     9|                    12|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------------+----------------------+
only showing top 5 rows

In [ ]:
model.surrogateDF.show()

+------------------+------------------+
|Product_Category_2|Product_Category_3|
+------------------+------------------+
| 9.842329251122386|12.668243206790512|
+------------------+------------------+

In [ ]:
df.select(mean('Product_Category_3')).show()

+-----------------------+
|avg(Product_Category_3)|
+-----------------------+
|     12.668243206790512|
+-----------------------+

In [ ]:
df.select(mean('Product_Category_3').alias('Mean of Product_Category_3')).show()

+--------------------------+
|Mean of Product_Category_3|
+--------------------------+
|        12.668243206790512|
+--------------------------+

### **Filter Operations**

In [ ]:
df.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.select('City_Category').distinct().show()

+-------------+
|City_Category|
+-------------+
|            B|
|            C|
|            A|
+-------------+

In [ ]:
df.filter(df.City_Category == 'A').show(5)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.filter(df.City_Category == 'A').select('User_ID', 'Gender').show(5)

+-------+------+
|User_ID|Gender|
+-------+------+
|1000001|     F|
|1000001|     F|
|1000001|     F|
|1000001|     F|
|1000003|     M|
+-------+------+
only showing top 5 rows

In [ ]:
df.filter((df.City_Category == 'A') & (df.Gender == 'F')).show(5)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.filter(df.User_ID == '1000190').select('User_ID', 'Purchase').show()

+-------+--------+
|User_ID|Purchase|
+-------+--------+
|1000190|   12235|
|1000190|    4508|
|1000190|    4686|
|1000190|   11823|
|1000190|   15923|
|1000190|    8601|
|1000190|    9901|
|1000190|   23296|
|1000190|    9663|
|1000190|    8864|
|1000190|    3759|
|1000190|    4074|
|1000190|   20335|
|1000190|    8610|
|1000190|    7720|
|1000190|   10076|
|1000190|   10044|
|1000190|   19148|
|1000190|    9712|
|1000190|    7144|
+-------+--------+
only showing top 20 rows

#### **Group By**

In [ ]:
df.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
df.groupBy('User_ID').sum().select('User_ID', 'sum(Purchase)').show(5)
# df.groupBy('User_ID').agg({'Purchase':'sum'}).show(5)                   # Alternative Way

+-------+-------------+
|User_ID|sum(Purchase)|
+-------+-------------+
|1000149|      3775096|
|1000190|       778581|
|1000636|       677625|
|1001043|       263619|
|1001129|       700787|
+-------+-------------+
only showing top 5 rows

In [ ]:
df.groupby('City_Category').sum().select('City_Category', 'sum(Purchase)').show()

+-------------+-------------+
|City_Category|sum(Purchase)|
+-------------+-------------+
|            B|   2115533605|
|            C|   1663807476|
|            A|   1316471661|
+-------------+-------------+

In [ ]:
df.groupBy('User_ID').max().select('User_ID', 'max(Purchase)').show(5)

+-------+-------------+
|User_ID|max(Purchase)|
+-------+-------------+
|1000149|        23144|
|1000190|        23296|
|1000636|        23809|
|1001043|        20179|
|1001129|        19592|
+-------+-------------+
only showing top 5 rows

In [ ]:
df.groupBy('User_ID').mean().select('User_ID', 'avg(Purchase)').show()

+-------+------------------+
|User_ID|     avg(Purchase)|
+-------+------------------+
|1000149| 11302.68263473054|
|1000190| 9612.111111111111|
|1000636| 12100.44642857143|
|1001043|11461.695652173914|
|1001129|10781.338461538462|
|1001139|10564.731481481482|
|1001601|13003.398058252427|
|1002605| 10818.85436893204|
|1003031|            8917.2|
|1003373|10867.411764705883|
|1003938|10693.708333333334|
|1004021|10518.715261958998|
|1004552|11282.588235294117|
|1004666| 8182.466666666666|
|1004739| 9251.306451612903|
|1005158| 8512.097087378641|
|1005697|        12223.5625|
|1005853| 9448.096385542169|
|1002431| 5158.692307692308|
|1005476|         10107.625|
+-------+------------------+
only showing top 20 rows

In [ ]:
df.groupBy('User_ID').count().show()
# df.groupBy('User_ID').agg({'User_Id': 'count'}).show()

+-------+-----+
|User_ID|count|
+-------+-----+
|1000149|  334|
|1000190|   81|
|1000636|   56|
|1001043|   23|
|1001129|   65|
|1001139|  108|
|1001601|  103|
|1002605|  103|
|1003031|  290|
|1003373|   17|
|1003938|   48|
|1004021|  439|
|1004552|   68|
|1004666|  195|
|1004739|   62|
|1005158|  103|
|1005697|   16|
|1005853|   83|
|1002431|   13|
|1005476|   16|
+-------+-----+
only showing top 20 rows

### **Sorting**

In [ ]:
df.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)

In [ ]:
df_handled_null_values = model.transform(df).drop('Product_Category_2', 'Product_Category_3')

In [ ]:
df_handled_null_values.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+--------+----------------------+----------------------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Purchase|Product_Category_2_out|Product_Category_3_out|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+--------+----------------------+----------------------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|    8370|                     9|                    12|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|   15200|                     6|                    14|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|    1422|                     9|                    12|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|    1057|                    14|                    12|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|    7969|                     9|                    12|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+--------+----------------------+----------------------+
only showing top 5 rows

In [ ]:
df_handled_null_values.count()

550068

In [ ]:
(df_handled_null_values.groupBy('Product_ID', 'Age').count()).sort('count', ascending=False).show()

+----------+-----+-----+
|Product_ID|  Age|count|
+----------+-----+-----+
| P00265242|26-35|  746|
| P00110742|26-35|  634|
| P00025442|26-35|  608|
| P00112142|26-35|  606|
| P00057642|26-35|  597|
| P00058042|26-35|  595|
| P00184942|26-35|  578|
| P00237542|26-35|  571|
| P00046742|26-35|  551|
| P00255842|26-35|  550|
| P00059442|26-35|  545|
| P00110842|26-35|  541|
| P00117942|26-35|  533|
| P00110942|26-35|  530|
| P00028842|26-35|  529|
| P00145042|26-35|  525|
| P00278642|26-35|  517|
| P00114942|26-35|  511|
| P00010742|26-35|  510|
| P00117442|26-35|  500|
+----------+-----+-----+
only showing top 20 rows

In [ ]:
df.filter((df.Product_ID == 'P00265242') & (df.Age == '26-35')).count()

746

In [ ]:
(df.groupBy(df.Product_ID).count()).sort('count', ascending = False).show()

+----------+-----+
|Product_ID|count|
+----------+-----+
| P00265242| 1880|
| P00025442| 1615|
| P00110742| 1612|
| P00112142| 1562|
| P00057642| 1470|
| P00184942| 1440|
| P00046742| 1438|
| P00058042| 1422|
| P00059442| 1406|
| P00145042| 1406|
| P00237542| 1394|
| P00255842| 1383|
| P00117942| 1364|
| P00110942| 1360|
| P00010742| 1350|
| P00220442| 1282|
| P00110842| 1281|
| P00117442| 1260|
| P00051442| 1249|
| P00102642| 1246|
+----------+-----+
only showing top 20 rows